.home {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: url("../img/home_bg_mobile.png") center;
  background-size: cover;

  h2 {
    color: set-text-color($primary-color);
  }

  &__name {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: set-text-color($primary-color);

    &--last {
      font-weight: 700;
    }
  }
}
