@include media-md {
  .home {
    text-align: left;
    padding-top: 20vh;
    padding-left: 10vh;
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent !important;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
        color: set-text-color($secondary-color);
      }
    }
  }

  .about__bio {
    font-size: 1rem;
  }

  .projects {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact {
    padding-top: 40vh;
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
  }
}

@include media-lg {
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
